Christian Dietz <christian.dietz@uni-konstanz.de> <Christian.Dietz@uni-konstanz.de>

Albert Cardona <sapristi@gmail.com> <acardona@ini.phys.ethz.ch> 
Jean-Yves Tinevez <jean-yves.tinevez@pasteur.fr> <jeanyves.tinevez@gmail.com>
Johannes Schindelin <johannes.schindelin@gmx.de>
Stephan Preibisch <stephan.preibisch@gmx.de> <preibisch@mpi-cbg.de>
Stephan Saalfeld <saalfelds@janelia.hhmi.org> <saalfeld@mpi-cbg.de>
Stephan Saalfeld <saalfelds@janelia.hhmi.org> <saalfeld@saalfeld-mac.(none)>
Stephan Saalfeld <saalfelds@janelia.hhmi.org> <saalfeld@tomancak-pc-4.(none)>
Cyril Mongis <c.mongis@zmbh.uni-heidelberg.de>
Tobias Pietzsch <tobias.pietzsch@gmail.com>
